@charset "UTF-8";

#oMainTab-0,#oMainTab-1,#oMainTab-2,#oMainTab-3,#oMainTab-4{
	background-color: #A3A4A5;
    width: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-family: sans-serif;
    /* opacity: 0.8; */
    color: #fff;
}
.sapUiTab:hover, .sapUiTabSel:hover{
	border:none !important;
	    outline: none;
}
.main-body{
	background: #f2f2f2;
}
.sapUiBody{
	background: #f4f5f5 !important;
}
.sapUiTabBar {
    height: 55px;
    background-color: #2D2B2B;
}
.sapMGlobalBackgroundColor{
	background-color: #f2f2f2 !important;
}
.sapUiTabBarCnt{
	height: 25px;
    margin: 0px 5% 0 9%;
    padding-top: 28px;
    border: 0px;
}

.sapUiTabPanel{
	margin-top: 25px;
}

.sapMTileContent{
	box-shadow: 2px 2px 8px #ccc;
    color: #444;
}
.sapMStdTileTitle{
	color: #444;
    font-size: 23px;
    text-align: center;
}
.sapMStdTileIconDiv{
	margin-left: 10px;
}

 .sapUiAppHdr{
 	background-color: rgb(70, 74, 76);
 	background-image: none;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 8px;
 	} 
 	.sapUiTab, .sapUiTabSel, .sapUiTabDsbl {
 		  background-color:  #7B7679;
 	}
 	.sapUiTab:focus{
 		background-color: #29807F;
 		    border: 1px solid  #29807F;
 	}
 	.sapUiTabSel:focus{
 		background-color: #29807F;
 		    border: 1px solid  #29807F;
 	}
 	.sapUiTabDsbl:focus{
 		background-color: #29807F;
 		    border: 1px solid  #29807F;
 	}
 	.sapUiTabSel:hover{
 		background-color:#988B6C;
 	}

 	.sapMBarChild{
		color:white;
	}

 	/*........................................................*/

 	@charset "UTF-8";

#tb2 {
	background-color:black;
	height: 35px;
}

#logolabel2 {
	color:white;
	margin-left: -5px;
	font-weight:bold;
	font-size: 16px;
	 margin-top: 5px;
	
}

#logolabel{
	color:green;
	font-weight:900;
	font-size: 16px;
	margin-top: 5px;
	
}

#i1 {
	font-color:white;
}

#t1{
	font-size:22px;
}
#t2{
	font-size:24px;
	font-weight:bolder;
	margin-left: 5px;
	
}

#G1,#G2,#G3,#G4{
	font-size:16px;
	font-weight:bold;
}

#im1,#im2,#im3,#im4{
	margin-left:20px;
}

#tb1{
	margin-top:30px !important;
}

#TabStrip1{
	background-color:black;
	
}

#TabStrip1-0,#TabStrip1-1,#TabStrip1-2 {
	background-color:black;
	color:white;
}
#logoutIconID{
	margin-top:5px;
}

#logoId{
	margin-top:5px;
}

#simpleSearch{
	margin-top:5px;
	width:200px;
}
#toolbar2{
	padding-top:10px;
	padding-bottom:10px;
	height:30px
}
#Export{
	background-color:black;
	color:white;
}
#Create{
	background-color:Turquoise;
	color:white;
}
#matrix2{
		margin-top: 25px;
		}
		
		#Subheader{
		font-size:40px;
		}
		#sub2{
		color:#ccc;
		margin-bottom:30px;
		font-size:17px;
		
		}
		#sub1{
		color:#ccc;
		font-size:17px;
		margin-bottom:30px;
		}
		#Text{
		margin-top:15px;
			margin-bottom:15px;
		
		font-size:40px;
		}
		#Tb{
		background-color:#444141;
		color:white;
		border:none !important;
		height: 40px;
    padding-top: 15px;
    margin-bottom: 15px;
		}
		
		#TV-head{
		color:white;
		  font-size: 15px;
		}
		#TV-head1{
		color:white;
		margin-right: 20px;
    font-size: 15px;
		}
		
		.sapUiTbStandalone .sapUiTbCont{
		border-style:none;}
		
		#Cities1, #Cities, #TName, #DP-Date, #D-Date, #Cities2, #POSDate, #PoDate, #STDate, #SEDate{
		height:25px;
		}
		
		#t1{
 font-size:22px;
margin-top:15px;
margin-bottom:10px;
}
#t2{
 font-size:24px;
 font-weight:bolder;
 margin-left:5px;
 margin-top:15px;
 margin-bottom:10px;

 
}

#Continue{
float:right;
}

#Tb1{
margin-bottom:25px;
}

.sapUiTfStd>.sapUiTfComboIcon{
height:23px;
}
#text{
margin-left: 195px;
}

#Cancel{
background-color:#0D0D58;
height:30px;
color:white;
border:none;
}

#Continue{
background-color:#79D668;
color:white;
border:none;
height:30px;
}
#Name, #PType, #SDate, #ISDate, #PNode, #PLevel, #SgDate, #SgjDate, #SSDate, #ShipmentDate, #comment{
font-size:14px;
font-weight:bold;
}

#TName, #Cities, #DP-Date, #D-Date{
margin-bottom:20px;
}

#Cities1, #Cities2, #POSDate, #PoDate{
margin-bottom:20px;
}

#STDate, #SEDate{
margin-bottom:20px;
}


.LoginControl{
	width: 340px;
    height: 150px;
    border: 1px solid #ccc;
    border-raduis: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 auto;
    background-color: #070707;
    top: 150px;
    opacity: 0.95;
    color: #fff !important;
    }
    #__button0,#__button1,#__button3,#__button4{
    background-color: #138FDA;
    color: white;
    border:none;
    }
    #matrix4{
    border-collapse: initial !important;
    border: 1px solid #ccc;
    width:0 !important;
    margin: 0 auto;
    padding: 10px;
    background-color:beige;}
    #__cell109{
    text-align:center;}
    #button1{
    width:100px;
     background-color: #138FDA;
     color:white;
    }
    .sapUiLbl{
 font-size: 13px;
 font-weight: bold;
 color:#fff;
}
.suiteUiCardName,
.suiteUiCardDesc
{
	color:#444;
}
/*.suiteUiCardContainer{
 background-color: beige;
 border: 1px solid green;
}*/
.suiteUiCardIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8C8A8A;
}
.suiteUiCard{
 margin:20px 0 20px 45px;
 box-shadow: 3px 3px 7px #868282;
 background-color: #fff;  
}
.sapUiTabPanel {
    background-color: #f4f5f5 !important;
}
.sapUiFTV strong, .sapUiFTVBold{
	 font-weight: bold;
    color: indigo;
    font-size: 16px;
}
.sapUiAcdSectionHdr>div{
    font-size: 12px;
    margin-top: 10px;
    height: 35px;
    padding-top: 10px;
}
.sapUiAcd.ui-sortable{
	background: #f4f5f5;
	box-shadow: 2px 2px 8px #ccc;
	border: none;
}
.sapUiAcdSectionHdr{
background-color: #007cc0;
}
    
#__taker0{
 width:100% !important;
 margin: 20px auto;
}

#__image0{
    margin-left: 20%;
    margin-top: 3%;
}
#__layout7{
	    margin-top: 5%;
    margin-left: 4%;
}
.mybackground{
	background-image: url('/images/sap2.jpg');
	opacity: 0.88;
}
.mybackground1{
	background-image: url('/images/world.png');
	}

	.sapUiLbl.sapUiLblReqEnd:after, .sapUiLbl.sapUiLblReqBeg:before{
		    color: #e52929;
	}

	#appheader-logoText{
	margin: 5% 0 0 4%;
    font-size: 16px;
		
	}
	#appheader-logoImg{
		    width: 30px;
    margin-top: 4%;
	}